@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  display: block;
  width: 7px;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: #5c5c5c;
}
::-webkit-scrollbar-thumb {
  opacity: 0.4;
  background-color: #999;
  width: 20px;
  border-radius: 20px;
  border-right: none;
  border-left: none;
}

.version-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  min-height: 100vh;
  background-color: #161427;
  color: #e2e2e2;
  padding: 20px;
  font-size: 16px; /* Adjust the base font size */
}

.version.panel {
  background-color: #1d1a35;
  padding: 40px 80px 20px 80px; /* Increase padding for better spacing */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  /* align-items: center; */
}

.version.logo-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.version.logo-image {
  width: 80px; /* Increase the size of the logo image */
  height: auto;
  margin-right: 10px;
}

.version.logo-name {
  font-size: 35px; /* Increase the font size of the logo name */
  font-weight: 600;
}

.version.content {
  max-width: 800px; 
  width: 100%;
}

.version.update-section {
  margin-bottom: 20px;
}

.version.update-section h2 {
  font-size: 24px; /* Increase the font size of the section headers */
  margin-bottom: 10px;
}

.version.update-section ul {
  text-align: left; /* Align the list items to the left */
  padding-left: 30px; /* Add padding to the left of the list */
}

.version.update-section li {
  margin-bottom: 5px; /* Add space between list items */
  font-size: 18px; /* Increase the font size of the list items */
}

.update-section h1{
  color: turquoise;
}

.update-section .feature{
  color: rgb(17, 208, 55);
}

.update-section .patch{
  color: rgb(234, 234, 234);
}

.old-versions{
  color: rgb(197, 195, 195);
  margin-top: 40px;
}

.pls-donate-ahh{
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 15px;
  
}

.pls-donate-ahh-fixed{
  position:fixed;  
  right: 60px;
  bottom: 30px;
  z-index: 3;
}

.pls-donate-ahh img{
  width: 30px;
  transition: all 0.25s ease;
}

.pls-donate-ahh img:hover{
  transform: scale(1.5);
  filter: sepia(1) saturate(10) hue-rotate(0deg);
}

.pls-donate-ahh-fixed img{
  width: 20px;
}

.pls-donate-ahh-fixed img{
  width: 30px;
  transition: all 0.25s ease;
}

.pls-donate-ahh-fixed img:hover{
  transform: scale(1.5);
  filter: sepia(1) saturate(10) hue-rotate(0deg);
}